.video-box{
	position: relative;
	margin: 0 auto 18px;
	max-width: 408px;
	align-self: flex-start;
	overflow: hidden;
	border-radius: 8px;
	@include media-breakpoint-up (lg){
		@include size(364px,718px);
		flex-shrink: 0;
		margin: 0 0 0 15px;
		border-radius: 0;
	}
	@include media-breakpoint-up (xxl){
		margin: 0 60px;
	}
	@include media-breakpoint-up (xxxl){
		margin: 0 100px;
	}
	img{
		width: 100%;
	}
	.btn-paly{
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%,-50%);
		width: 44px;
		@include media-breakpoint-up (lg){
			width: 76px;
		}
		img{
			width: auto;
		}
	}
}
.media-panel{
	box-shadow: 0 -4px 10px rgba($black,.07);
	padding-top: 20px;
	padding-bottom: 20px;
	background:$white;
	@include media-breakpoint-up (xxxl){
		padding-top: 48px;
		padding-bottom: 48px;
		padding-left: 15px;
		padding-right: 15px;
	}
}

.audio-wrap{
	audio{
		width: 100%;
	}
}