.gif-block-wrap{
	overflow: hidden;
}
.gif-bloks-list{
	display: flex;
	flex-wrap: wrap;
	margin: 0 -3px -8px;
	padding-bottom: 30px;
	&:last-child{
		padding-bottom: 0;
	}
	li{
		padding: 0 3px 8px;
		width: 25%;
		img{
			border-radius: 8px;
		}
		a{
			&:hover,
			&:focus{
				outline: none !important;
			}
		}
	}
}