.exports-btns-wrap{
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	@include media-breakpoint-down (md){
		min-height: 400px;
		flex-direction: column;
	}
	.hold{
		max-width: 255px;
		.btn{
			margin: 10px 0;
			width: 100%;
		}
	}
}
