* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}

.App {
  text-align: center;
  background-color: #000000;
  min-height: 100vh;
}

.App h1 {
  color: yellow;
}

.content {
  color: #ccc;
  text-align: left;
  padding: 20px 0 0 30px;
}

.nav-btn {
  margin: 5px 10px;
  background: transparent;
  color: #ccc;
  padding: 10px;
  cursor: pointer;
  border: 2px solid #ccc;
  border-radius: 20px;
}

.nav-btn:hover {
  color: #fff;
  border: 2px solid #fff;
  border-radius: 20px;
}

h2 {
  padding-left: 165px;
}

.card {
  border-radius: 20px;
  border: 1px solid rgba(95, 92, 92, 0.199);
  color: #ccc;
  padding: 15px 30px;
  margin: 25px 160px;
}

.card h3 {
  color: yellow;
}