// body {
//     font-family: $base-font-family;
//     font-size: $base-font-size;
// }
.custom-input-wrapper {
    position: relative;
    .form-control {
        padding-left: 50px;
        height: 45px;
    }
}

.input-icons {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #24253c;
    height: 45px;
    width: 45px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    i {
        &::before {
            color: #fff;
        }
    }
    &.secondary {
        background-color: #d0a592;
    }
}

.form-control {
    border-radius: 7px !important;
    outline: transparent !important;
    box-shadow: none !important;
}

.btn-primary {
    color: #24253C !important;
    background-color: #D0A592 !important;
    min-width: 340px !important;
    border: 1px solid #D0A592 !important;
    border-radius: 0 !important;
}
.tunnin-link {
    color: #24253C !important;
    text-decoration: underline;
}
.tunnin-checkbox {
    color: #24253C !important;
}
.text-grey {
    color: #78787A;
    font-size: 14px;
}