.cancel-policy {
    background-color: #1A1B2F;
    min-height: 100vh;
    color: #FFFFFF;

    .title {
        text-align: left;
        color: #FFFFFF;
        font-size: 24px;
        font-weight: 400;
        position: relative;
        i{
            position: absolute;
            left: -35px;
            top: 1px;
            &::before {
                color: #fff;
            }
        }
    }
    .cancel-policy-text {
        margin-top: 20px;
        font-size: 18px;
        line-height: 2;
        opacity: 0.8;
    }
    .cancel-policy-right-container {
        padding: 10px 20px 10px 40px;
    }
    

}  

