@import 'variables';
.connect-bank {
    background-color: $primary;
    min-height: 100vh;
    padding-top: 100px;
    padding-left: 100px;
    .heading {
        color: $enury;
        font-weight: 400;
        font-size: 30px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        img {
            max-width: 137px;
        }
    }
    .subheading {
        color: $waikawa-gray;
        font-size: 30px;
        margin-bottom: 80px;
    }
    .label {
        color: $white;
        padding-top: 50px;
        font-size: 24px;
    }
    .next-btn-wrapper {
        text-align: center;
        margin-top: 14%;
        .btn-primary {
            min-width: 280px !important;
        }
    }
    .connect-input-wrapper {
        .form-control {
            max-width: 555px;
            height: 45px;
        }
    }
}