@import 'variables';
.earning {
    background-color: $primary;
    min-height: 100vh;

    .earnings-right-container {
        padding: 40px 140px 10px 40px;
    }
    .earning-heading {
        font-size: 26px;
        color: $white;
        margin: 0;
    }
    .earning-stats-wrapper {
        margin-left: 100px;
        .stock-icon-wrapper {
            height: 50px;
            width: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            border: 1px solid $white;
            margin-right: 10px;
            i {
                font-size: 50px;
                &::before {
                    color: $white;
                }
            }
        }
        .card {
            height: 150px;
            width: 260px;
            border-radius: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: $ebony-clay;
            color: $white;
            &:hover {
                background-color: $secondary;
                color: $black;
                .stock-icon-wrapper {
                    border: 1px solid $black;
                    color: $white;
                    i {
                        &::before {
                            color: $black;
                        }
                    }
                }
            }
        }
        .card-content {
            display: flex;
            align-items: center;
        }
        .card-title {
            font-size: 36px;
            font-weight: 400 !important;
        }
        .card-text {
            font-size: 20px;
        }
        
    }
    table {
        th,
        td {
            font-size: 24px;
            color: $white;
            font-weight: 300;
        }
        thead {
            th {
                border-bottom: 0;
                border-top: 0;
            }
        }
       
        td {
            border-top: 0;
            border-bottom: 1px solid rgba(255, 255, 255, 0.1);
        }
    }
    .session-details-table-wrapper{
        border-top: 1px solid rgba(255, 255, 255, 0.3);
        padding-top: 30px;
        table {
            max-width: 60%;
        }
        .cc-img {
            max-width: 35px;
            margin-right: 10px;
        }
        .dp-img{
            max-width: 25px;
            margin-right: 10px;
        }
    }
    .earning-info-card{
        min-width: inherit;
        margin-top: 0;
        padding-left: 0;
        min-height: inherit;
        background-color: transparent;
        color: $white;
        border: 0;
        .card-title {
            font-size: 26px;
        }
        .card-content {
            display: flex;
            justify-content: space-between;
            p {
                font-size: 22px;
                font-weight: 300;
                &.time,
                &.date {
                    opacity: 0.8;
                }
            }
        }
        .session-amount {
            height: 45px;
            width: 70px;
            display: flex;
            align-items: center;
            justify-content: center;
            border: 1px solid $enury;
            font-size: 20px;
            font-weight: 400;
            color: $white;
            margin-left: auto;
        }
    }
    .title {
        text-align: left;
        color: $white;
        font-size: 24px;
        font-weight: 400;
        position: relative;
        padding-left: 25px;
        margin-bottom: 40px;
        i{
            position: absolute;
            left: 0;
            top: 1px;
            &::before {
                color: $white;
            }
        }
    }
    .earning-stats {
        background-color: transparent;
        border-radius: 0;
        border: 1px solid $secondary;
        color: $white;
        .card-content {
            display: flex;
            align-items: center;
            img {
                max-width: 40px;
            }
        }
        .card-title {
            font-size: 24px;
        }
        .card-text {
            font-weight: 300;
            font-size: 18px;
        }
    }
}