.new-session {
    background-color: #1A1B2F;
    min-height: 100vh;
    .left-container {
        background-color: #262744;
        min-height: 100vh;
    }
    .title {
        text-align: left;
        color: #FFFFFF;
    }
    .addBtn {
        text-align: right;
    }
    .upload-title {
        text-align: left;
        color: #FFFFFF;
        padding-left: 30px;
    }
    .uploads{
        height: 225px;
        background: #262744 0% 0% no-repeat padding-box;
        min-width: 250px;
        margin-left: 5px;
    }
    .form {
        padding-top: 20px;
        .form-title {
            color: #FFFFFF;
        }
        .form-empty-title {
            color: #FFFFFF;
            margin-top: 16px;
        }
    }
}