@import 'variables';
.profiles {
    background-color: $primary;
    min-height: 100vh;

    .profile-right-container {
        padding: 10px 20px 10px 40px;
    }
    .profile-header {
        .add-btn-wrapper {
            text-align: right;
        }
        .addBtn {
            background-color: $enury;
            border: 1px solid $enury;
            border-radius: 0;
            padding: 15px 60px;
            margin: 0 20px;
            min-width: 140px;
            text-align: center;
            color: $black;
            font-size: 24px;
            &:hover {
                background-color: $ebony-clay;
                color: $white;
            }
            i{
                font-size: 20px;
                margin-right: 10px;
            }
        }
    }
    .title {
        text-align: left;
        color: $white;
        font-size: 24px;
        font-weight: 400;
        position: relative;
        i{
            position: absolute;
            left: -35px;
            top: 1px;
            &::before {
                color: $white;
            }
        }
    }
    .profile-img-wrapper {
        height: 165px;
        width: 165px;
        display: inline-block;
        border-radius: 50%;
        overflow: hidden;
    }
    .user-profile-wrapper,
    .profile-cover-wrapper,
    .tunnin-form {
        border-bottom: 1px solid rgba(255, 255, 255, 0.06);
        padding-bottom: 30px;
        margin-bottom: 30px;
        .col {
            &:first-child{
                padding-left: 0;
            }
            &:last-child{
                padding-right: 0;
            }
        }
    }
    .profile-name-wrapper {
        display: flex;
        flex-direction: column;
        font-weight: 300;
        padding-left: 20px;
        .profile-name {
            color: $white;
            font-size: 30px;
        }
        .username {
            font-size: 20px;
            color: rgba(255, 255, 255, 0.6);
        }
    }
    .cover-images {
        img {
            max-width: 100%;
        }
    }
    .user-profile-form-read-only {
        flex-direction: column;
        max-height: 190px;
        .col {
            flex: 0 0 20%;
            max-width: 20%;
        }
        textarea {
            min-height: 135px;
        }
        label {
            font-weight: 300;
            font-size: 20px;
        }
        .form-control {
            padding-left: 0;
            border: 0;

            &::placeholder {
                color: rgba(255, 255, 255, 0.8);
                font-size: 18px;
                font-weight: 300;
            }
        }
    }
    .user-profile-form-edit {
        flex-direction: column;
        max-height: 370px;

        textarea {
            min-height: 135px;
        }
        label {
            font-weight: 300;
            font-size: 20px;
        }
        .form-control {
            padding-left: 0;
            border: 0;
            padding-bottom: 15px;
            border-bottom:1px solid rgba(255, 255, 255, 0.3); ;

            &::placeholder {
                color: rgba(255, 255, 255, 0.8);
                font-size: 18px;
                font-weight: 300;
            }
        }
    }
}