.session-details {
    background-color: #1A1B2F;
    min-height: 100vh;
    color: #FFFFFF;

    .topbtn-style {
        margin-left: 100px;
    }
    .top-borderless-card {
        padding-top: 25px;
        padding-bottom: 10px;
        margin-bottom: 20px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.3);
        cursor: pointer;
    }
    .left-container {
        background-color: #262744;
        min-height: 100vh;
    }
    .session-details-right-container {
        padding: 10px 20px 10px 40px;
    }
    .title {
        text-align: left;
        color: #FFFFFF;
        font-size: 24px;
        font-weight: 400;
        position: relative;
        i{
            position: absolute;
            left: -35px;
            top: 1px;
            &::before {
                color: #fff;
            }
        }
    }
    .add-btn-wrapper {
        text-align: right;
    }
    .addBtn {
        background-color: #D0A592;
        border: 1px solid #d0a592;
        border-radius: 0;
        padding: 15px 60px;
        margin: 0 20px;
        min-width: 270px;
        text-align: center;
        color: #000;
        font-size: 18px;
        &:hover {
            background-color: #262744;
        }
    }
    .card-style {
        min-width: 287px;
        margin-top: 20px;
        min-height: 225px;
        background-color: transparent;
        border: 0;
        background-color: #262744;

        &.session-info-card{
            min-width: inherit;
            margin-top: 0;
            padding-left: 0;
            min-height: inherit;
            background-color: transparent;
            .card-title {
                font-size: 22px;
            }
            .card-content {
                display: flex;
                justify-content: space-between;
                p {
                    font-size: 19px;
                    font-weight: 300;
                }
            }
            .session-amount {
                height: 40px;
                width: 60px;
                display: flex;
                align-items: center;
                justify-content: center;
                border: 1px solid #D0A592;
                font-size: 20px;
                font-weight: 400;
                color: #fff;
            }
        }
    }
    .cancel-policy-text {
        font-size: 20px;
        font-weight: 300;
    }
    .users-booked-title {
        font-size: 20px;
        font-weight: 300;
    }
    .session-user-card {
        text-align: center;
        img {
            display: block;
            margin: 10px auto;
        }
        .session-user-name {
            font-size: 20px;
            font-weight: 300;
        }
    }
}