.session-details {
    background-color: #1A1B2F;
    min-height: 100vh;

    color: #FFFFFF;
    .topbtn-style {
        margin-left: 100px;
    }
    .top-borderless-card {
        padding-top: 80px;
        cursor: pointer;
    }
    .left-container {
        background-color: #262744;
        min-height: 100vh;
    }
    .card-style {
        min-width: 287px;
        margin-top: 20px;
        padding-left: 20px;
        min-height: 225px;
    }
}