.profile {
    background-color: #1A1B2F;
    min-height: 100vh;
    padding-top: 100px;
    padding-left: 100px;
    
    .signup-second-form-wrapper {
        justify-content: space-between;
        .btn-primary {
            min-width: 280px !important;
            margin-top: 100px;
        }
    }
    .heading {
        color: #D0A592;
        font-weight: 400;
        font-size: 30px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        img {
            max-width: 137px;
        }
    }
    .subheading {
        color: #585B8F;
        font-size: 30px;
        margin-bottom: 80px;
    }
    .formheading {
        color: #FFFFFF;
        display: block;
        font-size: 18px;
    }
    .checkbox-wrapper {
        display: flex;
        flex-wrap: wrap;
        .checkboxes {
            width: 25%;
            margin-bottom: 10px;
        }
    }
}