@import 'variables';
.profile {
    background-color: $primary;
    min-height: 100vh;
    padding-top: 5.5vh;
    .container-fluid {
        max-width: 77vw;
    }
    
    .signup-second-form-wrapper {
        justify-content: space-between;
        max-height: 530px;
        flex-direction: column;
        textarea {
            height: 22.1vh;
        }
        .btn-primary {
            min-width: 280px !important;
            margin-top: 100px;
        }
        .select-all {
            font-size: 1.1vw;
            color: $white;
        }
    }
    .heading {
        color: $enury;
        font-weight: 400;
        font-size: 30px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        img {
            max-width: 137px;
        }
    }
    .subheading {
        color: $waikawa-gray;
        font-size: 30px;
        margin-bottom: 80px;
    }
    .formheading {
        color: $white;
        display: block;
        font-size: 18px;
    }
    .checkbox-wrapper {
        display: flex;
        flex-wrap: wrap;
        .checkboxes {
            width: 25%;
            margin-bottom: 10px;
            > label {
                align-items: flex-start !important;
            }
        }
    }
}