.signup {
    background-color: #1A1B2F;
    min-height: 100vh;
    .heading {
        color: #D0A592;
    }
    .subheading {
        color: #585B8F;
    }
    .formheading {
        color: #FFFFFF;
        display: block;
    }
}