.signup-face {
    background-color: #1A1B2F;
    min-height: 100vh;
    padding-top: 100px;
    padding-left: 100px;
    .heading {
        color: #D0A592;
    }
    .subheading {
        color: #585B8F;
    }
    .upload-heading {
        color: #FFFFFF;
        padding-top: 50px;
    }
    .uploads {
        padding-top: 20px;
        padding-right: 20px;
        display: inline;
    }
}