$breakpoints: (
	'xs-phone': 320px,
	'phone': 576px,
	'tablet': 768px,
	'desktop': 992px,
	'widescreen': 1200px
);

// keywords
$media-expressions: (
	'screen': 'screen',
	'print': 'print',
	'handheld': 'handheld',
	'landscape': '(orientation: landscape)',
	'portrait': '(orientation: portrait)',
	'retina2x': '(-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi)',
	'retina3x': '(-webkit-min-device-pixel-ratio: 2.5), (min-resolution: 240dpi)'
);

// ligatured operators ≥ ≤

@import 'vendors/include-media';

@import "vendors/bootstrap/functions";
@import "vendors/bootstrap/variables";
@import "vendors/bootstrap/mixins";

@import "bootstrap-custom";

@import 'base/functions';
@import 'base/mixins';
@import 'base/helpers';
@import 'vendors/icomoon';

@import 'layout/header';
@import 'layout/common';
@import 'layout/footer';
@import 'layout/patch';


@import 'components/form';
@import 'components/search-form';
@import 'components/aside';
@import 'components/tabs';
@import 'components/next-prev-btns';
@import 'components/video-block';
@import 'components/gif-block-wrap';
@import 'components/video-box';
@import 'components/vote-box';
@import 'components/accordion';
@import 'components/modal';
@import 'components/personal-poll';

@import 'components/logo-select-wrap';
@import 'components/intro-sound-list';
@import 'components/exports-btns-wrap';


body {
	min-width: $base-min-width;
}


